* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-color: #FF900E1A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.nav-a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 50px;
}

.head-a {
    color: #131313;
    /* text-align: center; */
    font-size: 35px;
    font-weight: 700;
}

/* .head-a.a{
    
}
.head-a-b{
    margin-right: 120px;
} */
.head-b {
    text-align: center;
    margin-bottom: 50px;
}

.head-b-a {
    padding-left: 500px;
    padding-right: 500PX;
    /* width: 862px; */
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.head-b-b {
    padding-left: 400px;
    padding-right: 400PX;
    color: #727272;
}

.btn-primary {
    margin-top: 32px;
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
}

.head-b-c {
    text-align: center;
    padding-bottom: 45px;

}

/* .head-b-c img{
    width: 100%;
} */
main {
    padding-left: 180px;
}

.second-page {
    margin-top: 120px;
    display: flex;
    margin-bottom: 120px;
    align-items: center;
    gap: 76px;
}

.image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding-left: 200px; */
    width: 50%;
    gap: 20px;
}

.sec-imga {
    margin-bottom: 24px;
}

.sec-imgb {
    margin-bottom: 24px;
}

.description {
    width: 50%;

}

.des-h {
    padding-right: 220px;
    font-size: 45px;
    font-weight: 700;

}

.des-p {
    padding-right: 200px;
    color: #727272;
}

/* features */
.features-container {
    display: flex;
    padding-right: 150px;
}

.feature-text {
    width: 50%;
}

#f-ti {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    width: 368px;
}

.f-p {
    width: 500px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.f-card {
    width: 486px;
    height: 161px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(128, 128, 128, 0.285);
    margin-top: 15px;
    padding: 20px;
}

.f-c-h,
.f-c-p {
    padding: 0px 30px;
}

.f-img {
    width: 50%;
}

.ten-years-batch {
    position: relative;
    bottom: 185px;
    right: 80px;
    width: 340px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
}

.t-y-b-h {
    color: #FFF;
    font-size: 55px;
    font-weight: 700;
    /* 107.692% */
    padding-top: 40px;
    margin-bottom: 0px;

}

.t-y-b-p {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    margin-top: 4px;
}

/* facts */
#facts-para {
    width: 542px;
}

.facts-card-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-right: 140px;
    margin-top: 80px;
}

.card {
    padding-top: 45px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 220px;
    height: 220px;
}


.num {
    color: #424242;
    font-size: 35px;
    font-weight: 600;
}

.card-para {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

.sponsor {
    margin-top: 100px;
}

.spon-title-p {
    text-align: center;
    margin-bottom: 50px;
}

.spon-logo {
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
}

.footer {
    margin-left: 180px;
    margin-right: 150px;
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
    background-color: #FFF4E7;
    height: 100px;
}

.foot-p {
    padding-top: 36px;
    color: #424242;
    font-size: 20px;
    font-weight: 400;
}


/* Mobile devices */
@media screen and (max-width : 576px) {
    .header {
        padding: 0px 20px;
    }

    main {
        padding-left: 20px;
    }

    .nav-a {
        margin-left: 10px;
    }

    .head-b {
        margin-top: 30px;
    }

    .head-b-c img {
        width: 100%;
    }

    nav {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }

    .head-b-a {
        padding: 0px;
        font-size: 30px;
    }

    .head-b-b {
        padding: 10px 10px;
    }

    .second-page {
        flex-direction: column;
    }

    .image {
        grid-template-columns: 1fr;
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }

    .description {
        width: 100%;
        padding-left: 200px;
    }

    .des-h {
        font-size: 35px;
        /* text-align: center; */
    }

    .des-p {
        /* text-align: center; */
    }
    .features-container{
        gap: 20px;
        flex-direction: column;
        padding: 0px;
    }
    .ten-years-batch{
        position: static;
    }
    .f-img{
        width: 100%;
    }
    .f-p{
        width: 320px;
    }
    .f-card{
        width: 300px;
        height: 200px;
    }
    
    .f-img img{
        width: 100%;
    }


    .facts {
        text-align: center;
    }

    .facts-card-container {
        flex-direction: column;
        padding-left: 60px;
        gap: 10px;
    }

    #facts-para {
        width: 100%;
    }

    .spon-logo {
        padding: 0px 0px 0px 10px;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        /* justify-content: space-evenly; */
    }

    .footer {
        width: 100%;
        margin-left: 10px;
    }
    

}

/* medium devices */
@media screen and (min-width : 576px) and (max-width : 992px) {
    header {
        padding: 0px 20px;
    }

    .head-b-c img {
        width: 100%;
    }

    nav {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }

    .head-b-a {
        padding: 0px;
    }

    .head-b-b {
        padding: 10px 10px;
    }

    .second-page {
        flex-direction: column;
    }

    .image {
        /* grid-template-columns: 1fr; */
        margin-left: 0px;
        padding-right: 280px;
        width: 100%;
        text-align: center;
    }

    .description {
        width: 100%;
        /* padding-left: 200px; */
    }

    .des-h {
        font-size: 35px;
        /* text-align: center; */
    }

    .des-p {
        /* text-align: center; */
    }
    .features-container{
        gap: 20px;
        flex-direction: column;
        padding: 0px;
    }
    .facts {
        text-align: start;
    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* padding-left: 60px; */
        gap: 10px;
    }

    #facts-para {
        width: 100%;
    }

    .sponsor {
        padding-right: 150px;
    }

    .spon-logo {
        padding: 0px 0px 0px 10px;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        /* justify-content: space-evenly; */
    }

    .footer {
        width: 100%;
        margin-left: 10px;
    }

}